body,html{
	height: 100%;
	width: 100%;
	overflow:auto;
}
body{
    background-image: url("../Images/welcome1.jpg");
    background-size: cover;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    position: relative;
    background-position: center;
  	background-repeat: no-repeat;
}