body,html{
	height: 100%;
	width: 100%;
	overflow:auto;
}
.main{
  position: relative;
  background-position: center;
  background-image: url("../Images/welcome.jpg");
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}
.dt1{
    top:0px;
    left:0px;
    bottom:0px;
    right:0px;
    margin: auto;
    position: relative;
    background-position: center;
}